#project{
    min-height: 100vh;
    width: 100%;
    /* display: inline-flex; */
    flex-flow: column wrap;
    background-color: #001f54;

  
}

.projects-container{
    display: inline-flex;
  
    margin-top: 50px;
    /* margin-block: 50px; */
}

.project-container{
     display: inline-flex;
}
