
#intro {
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    align-content: center;
    background-color: #d9d9d9;
 
}


.intro-name{
    color: #284b63;
    font-size: 30px;
    margin-top: 15%;
    letter-spacing: 7pt;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.intro-name h1{
    margin-left: 20pt;
    font-size: 45px;
    /* font-family: 'Open Sans', sans-serif; */
}

.intro-bio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350pt;
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;

}

.intro-bio p{
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #3C6E71;
}

.intro-tagline{
    color: #353535;
    font-size: 20px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}



