#experience{
    min-height: 100vh;
    width: 100%;
    display: inline-flex;
    flex-flow: column wrap;
   
   
}


.experience-Tab{
   
   margin-left: 50px;
    margin-top: 100px;
    color: #fefcfb;
   
}

.experience-resume{
    margin-top: 50px;
    
    /* margin-top: 149px; */
    color: #fefcfb;
    font-size: 50px;
}


